body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-image: linear-gradient(to bottom right, rgba(7, 7, 82, 0.94), rgba(0, 128, 0, 0.9), rgba(205, 220, 57, 0.9), rgba(25, 116, 245, 0.9), rgb(37, 128, 24))!important; ;
  background-repeat: no-repeat!important;
  background-size: cover!important;
}

